.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.coin-name {
    margin-left: 2.5rem;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}



@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}

.coinImage{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.input-box{
    border-style: solid;
    border-radius: 8px;
    border-color: #6900ff;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: #6900ff;

}

th:nth-child(odd),
td:nth-child(odd) {
  color: white;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.viewmore-icon {
    width: 25px;
    height: 25px;
}