.bannerContainer {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
}

.bannerText {
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 12px;
}

.buttonContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  padding: 15px 40px 15px 40px;
  border-radius: 8px;
  border-style: solid;
  border-color: #6900ff;
  color: #6900ff;
  background-color: white;
  font-size: 15px;
  font-weight: bold;
  width: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: center;
}

button:hover {
  background-color: #6900ff;
  color: white;
  border-color: white;
}

.coinContainer {
  border-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: #6900ff;
  border-radius: 12px;
  width: 45%;
  padding: 10px;
  background-color: white;
  color: #6900ff;
  margin-top: 20px;
  align-self: center;
}

.rank {
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 1rem;
}

.coinName {
  font-weight: bold;
  margin-left: 10px;
  font-size: 20px;
}

.coinIcon {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.rankingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

th:nth-child(odd),
td:nth-child(odd) {
  color: gray;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.coinSymbol {
  color: gray;
  margin-left: 5px;
  font-size: 0.8rem;
}

.price {
  color: black;
}

.change {
  color: black;
}

.volume {
  color: black;
}

.marketcap {
  color: black;
}


/**/
/* CryptoList.css */
.crypto-list-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.crypto-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.crypto-card:hover {
  transform: scale(1.03);
}

.crypto-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.crypto-header img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
}

.crypto-header h2 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.crypto-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.view-details {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.view-details:hover {
  color: #0056b3;
}

@media screen and (max-width: 600px) {
  .crypto-list-container {
    padding: 10px;
  }

  .crypto-card {
    padding: 15px;
  }

  .crypto-header img {
    width: 40px;
    height: 40px;
  }

  .crypto-header h2 {
    font-size: 1.2em;
  }
}
